/* Mobile First */

#front-page {
  /* body */
  background-image: url("../img/edges.png");
  padding-top: 12px;
}

#front-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
}

#salut {
  font-size: 36px;
}

#name {
  color: #D8BFD8;
}

#fp-links {
  margin: 0 auto;
  display: block;
  width: 230px;
}

.fp-link {
  display: block;
  height: 100px;
  width: 200px;
  line-height: 100px;
  float: left;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid white;
}

#fp-links a {
  color: inherit;
}

.fp-link p {
  font-size: 24px;
  margin: 0;
}

/* TODO responsiveness */

@media only screen and (min-width: 700px) {
  #front-page {
    padding-top: 100px;
  }
  #front-container {
    font-size: 48px;
  }
  #salut {
    font-size: 72px;
  }
  #fp-links {
    width: 700px;
  }
  .fp-link p {
    font-size: 30px;
  }
}

@media only screen and (min-width: 992px) {
  #front-page {
    padding-top: 150px;
  }
}
